* {
  margin: 0; }

#myFooter {
  background-color: #3a3f46;
  color: white; }

#myFooter .content {
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  min-height: 200px; }

#myFooter .row {
  margin-bottom: 60px; }

#myFooter .info {
  text-align: justify;
  color: #afb0b1; }

#myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7; }

#myFooter h5 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px; }

#myFooter .footerlogo {
  margin-top: 10px; }

#myFooter .second-bar .footerlogo a {
  color: black;
  font-size: 28px;
  float: left;
  font-weight: bold;
  line-height: 68px;
  margin: 0;
  padding: 0; }

#myFooter a {
  color: #d2d1d1;
  text-decoration: none; }

#myFooter a:hover,
#myFooter a:focus {
  text-decoration: none;
  color: white; }

#myFooter .second-bar {
  text-align: center;
  background-color: #000000;
  overflow: hidden; }

#myFooter .second-bar a {
  font-size: 22px;
  color: #9fa3a9;
  padding: 10px;
  transition: 0.2s;
  line-height: 68px; }

#myFooter .second-bar a:hover {
  text-decoration: none; }

#myFooter .social-icons {
  float: right; }

#myFooter .facebook:hover {
  color: #0077e2; }

#myFooter .google:hover {
  color: #ef1a1a; }

#myFooter .instagram:hover {
  color: #ed6b00; }

@media screen and (max-width: 767px) {
  #myFooter {
    text-align: center; }
  #myFooter .info {
    text-align: center; } }

.footerlogo {
  width: 220px;
  float: left; }

#myFooter {
  text-align: left;
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto; }
  #myFooter p {
    text-align: left; }
  #myFooter h5 {
    text-align: left; }

.main-descarga {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: arial; }

.contenedor-descarga {
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .contenedor-descarga .card {
    background-color: rgba(221, 217, 209, 0.288);
    position: relative; }
    .contenedor-descarga .card .face {
      width: 300px;
      height: 200px;
      transition: .4s; }
    .contenedor-descarga .card .face.face2 {
      position: relative;
      background: whitesmoke;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      box-sizing: border-box;
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
      transform: translateY(-100px); }
      .contenedor-descarga .card .face.face2 .content a:hover {
        background: #333;
        color: whitesmoke;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5); }
      .contenedor-descarga .card .face.face2 .content p {
        font-size: 10pt;
        margin: 0;
        padding: 0;
        color: #333; }
      .contenedor-descarga .card .face.face2 .content a {
        text-decoration: none;
        color: black;
        box-sizing: border-box;
        outline: 1px dashed #333;
        padding: 10px;
        margin: 15px 0 0;
        display: inline-block; }
    .contenedor-descarga .card .face.face1 {
      position: relative;
      background: #333;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      z-index: 1;
      transform: translateY(100px); }
      .contenedor-descarga .card .face.face1 .content {
        opacity: .2;
        transition: 0.5s;
        text-align: center; }
        .contenedor-descarga .card .face.face1 .content i {
          font-size: 3em;
          color: #fff;
          display: inline-block; }
        .contenedor-descarga .card .face.face1 .content h3 {
          font-size: 1em;
          color: #fff;
          text-align: center; }
        .contenedor-descarga .card .face.face1 .content a {
          transition: .5s; }
  .contenedor-descarga .card:hover .face.face1 {
    transform: translateY(0);
    box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff; }
    .contenedor-descarga .card:hover .face.face1 .content {
      opacity: 1; }
  .contenedor-descarga .card:hover .face.face2 {
    transform: translateY(0); }

@media screen and (min-width: 966px) {
  .centrado {
    margin: auto;
    max-width: 100%; } }

@media screen and (max-width: 965px) {
  .centrado {
    margin: auto;
    max-width: 300px; } }

.main-plugins {
  background: url(../imagenes/winamp-connector.png);
  background-attachment: fixed;
  background-size: cover; }

.navbar {
  -webkit-box-shadow: 10px 20px 20px #00000044;
  -moz-box-shadow: 20px 20px 20px #00000044;
  box-shadow: 0px 20px 20px #00000044;
  z-index: 2000; }

.banner {
  text-align: center;
  background: url(../imagenes/background-secc3.png);
  background-position: center;
  background-size: cover; }
  .banner img {
    width: 100%; }
  .banner h1 {
    font-family: 'Work Sans', cursive;
    color: black; }
  .banner p {
    text-align: center;
    color: black;
    font-family: 'Jost', sans-serif; }

html {
  height: 100%; }

@media screen and (min-width: 501px) {
  .main h3 {
    font-size: 40px; } }

@media screen and (max-width: 500px) {
  .main h3 {
    font-size: 30px; } }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fudge {
  from {
    transform: translate(0px, 0px); }
  to {
    transform: translate(0px, 2%); } }

.titulo-descarga h1 {
  text-align: center;
  margin: 10px; }

.page-bg, .animation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.page-wrapper {
  color: #fff;
  z-index: 2; }

.segmentos-inicio {
  width: 100px; }

.bienvenida {
  padding-top: 90px;
  margin: 0%;
  width: 100%;
  background-image: url("../imagenes/background.jpg");
  background-size: 100%;
  background-position: center;
  background-size: cover; }
  .bienvenida h1 {
    position: absolute;
    color: transparent;
    z-index: -10000; }

.descarga {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

body {
  margin: 0;
  min-height: 100%; }

body:not(.index) .main {
  padding-top: 70px; }

.navbar {
  background: rgba(0, 0, 0, 0.63); }

.nav-link {
  color: blue; }

.logo-historia {
  display: block;
  top: 0;
  position: relative;
  right: 0; }
  .logo-historia img {
    height: 60px;
    width: auto; }

.columna-historia {
  padding: 2%; }

.main {
  animation-duration: 1s;
  animation-name: aparecer;
  margin-bottom: 0%;
  margin-right: 0;
  margin-left: 0;
  height: 100%; }
  .main h2 {
    text-align: center;
    padding: 0%;
    color: negro;
    font-family: 'Work Sans', cursive;
    font-size: 300%; }
  .main h3 {
    text-align: ce;
    padding: 0%;
    color: #ffbbbb;
    font-family: 'Work Sans', cursive; }

.main-why h3 {
  color: black; }

.imagendescarga {
  float: right; }

.botoninicio {
  width: 140px; }

.textoanimado {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

.logo2 {
  position: absolute;
  z-index: 1; }

.llama {
  bottom: 0;
  width: 50%;
  float: right;
  min-width: 300px;
  position: absolute;
  z-index: 0; }

.logo2 {
  max-width: 200px;
  max-height: 200px;
  width: 50%;
  height: auto;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 0; }

.textoanimado__h3 {
  text-align: center;
  color: #9bb7db; }
  .textoanimado__h3 div {
    overflow: hidden;
    position: relative;
    float: right;
    height: 65px;
    padding-top: 10px;
    margin-top: -10px; }
  .textoanimado__h3 ul {
    padding: 0%; }
  .textoanimado__h3 li {
    text-align: left;
    color: #9bb7db;
    font-weight: 700;
    padding: 0 10px;
    height: 45px;
    margin-bottom: 45.3px;
    display: block; }

.flip2 {
  animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

.flip3 {
  animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

.flip4 {
  animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
  0% {
    margin-top: -180px; }
  5% {
    margin-top: -90px; }
  50% {
    margin-top: -90px; }
  55% {
    margin-top: 0px; }
  99.99% {
    margin-top: 0px; }
  100% {
    margin-top: -270px; } }

@keyframes flip3 {
  0% {
    margin-top: -270px; }
  5% {
    margin-top: -180px; }
  33% {
    margin-top: -180px; }
  38% {
    margin-top: -90px; }
  66% {
    margin-top: -90px; }
  71% {
    margin-top: 0px; }
  99.99% {
    margin-top: 0px; }
  100% {
    margin-top: -270px; } }

@keyframes flip4 {
  0% {
    margin-top: -360px; }
  5% {
    margin-top: -270px; }
  25% {
    margin-top: -270px; }
  30% {
    margin-top: -180px; }
  50% {
    margin-top: -180px; }
  55% {
    margin-top: -90px; }
  75% {
    margin-top: -90px; }
  80% {
    margin-top: 0px; }
  99.99% {
    margin-top: 0px; }
  100% {
    margin-top: -270px; } }

.divisor-linea {
  float: inline-end;
  height: 2px;
  background-color: rgba(219, 22, 219, 0.76); }

.boton-descarga a {
  text-decoration: none; }

h4 {
  text-align: left;
  padding: 0%;
  color: blue;
  font-family: 'Work Sans', cursive;
  font-size: 35px; }

h5 {
  text-align: center;
  padding: 0%;
  color: #5562da;
  font-family: 'Work Sans', cursive;
  font-size: 20px; }

.logo__img {
  width: 70%;
  max-width: 500px; }

.logo {
  text-align: center;
  margin-bottom: 0%;
  width: auto; }

.articulo {
  padding-top: 2%;
  color: #918989;
  text-align: center; }
  .articulo img {
    margin-right: 2%; }

.textovid1 {
  position: relative; }

.conclusion strong {
  font-size: 40px;
  text-align: ce;
  padding: 0%;
  font-family: 'Work Sans', cursive;
  color: black; }

.seccion--visualizaciones {
  width: 100%;
  margin: 0%;
  background-image: url("../imagenes/background-secc3.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 2%; }
  .seccion--visualizaciones div {
    text-align: center; }
  .seccion--visualizaciones h3 {
    text-align: center;
    color: black; }
  .seccion--visualizaciones div p {
    color: black;
    position: relative;
    z-index: 1; }

.carousel .carousel-inner img {
  width: 100%; }

.seccion--galeria {
  margin: 0;
  width: 100%;
  background-image: url("../imagenes/background-secc2.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  text-align: center; }
  .seccion--galeria p {
    color: black; }
  .seccion--galeria h3 {
    color: black; }

section {
  width: 90%;
  height: 90%;
  margin-left: 5%;
  overflow: hidden; }
  section p {
    font-family: 'Jost', sans-serif;
    font-size: 150%; }
  section img {
    width: 20%;
    height: auto;
    animation-duration: 2s; }

.contenido {
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 3%; }

.textoseccion {
  margin-top: 3%;
  text-align: left; }

.contenedor-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.226); }

.bienvenida__texto {
  text-align: center; }

.textogaleria {
  margin: 0%;
  padding-top: 3%;
  margin-right: 2%; }
  .textogaleria p {
    text-align: justify; }

.logo2__img {
  margin: auto;
  width: 100%;
  height: auto; }

.videodemo {
  margin-right: 2%;
  float: left; }

.img-muestra {
  width: 27%; }

.tabla-descargas {
  margin-top: 2%;
  margin-bottom: 2%;
  float: left;
  margin-left: auto;
  margin-right: auto;
  border: 3px #252525;
  font-family: 'Jost', sans-serif;
  font-size: 130%;
  background-color: rgba(0, 0, 0, 0.342);
  color: #c0bbb1; }

.botonseleccion {
  margin-left: auto;
  margin-right: auto; }

.muestra {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%; }

.container.gallery-container {
  background-color: rgba(255, 255, 255, 0.171);
  color: #35373a;
  min-height: 100vh;
  padding: 30px 50px; }

.gallery-container h1 {
  text-align: center;
  margin-top: 50px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold; }

.gallery-container p.page-description {
  text-align: center;
  margin: 25px auto;
  font-size: 18px;
  color: #999; }

.tz-gallery {
  padding: 40px; }
  .tz-gallery .row > div {
    padding: 2px; }
  .tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative; }
  .tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s; }
  .tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s; }

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
  opacity: 1; }

.baguetteBox-button {
  background-color: transparent !important; }
