$azul: blue;
$negro: rgb(0,0,0);
$rosado:  rgb(247, 214, 214);
$azulclaro: rgb(155, 183, 219);
$azulado: rgb(85, 98, 218);
$gris: rgb(145, 137, 137);
$violeta: rgba(219, 22, 219, 0.76);
$blancofooter:rgb(229, 217, 230);
$background-historia: rgb(250, 103, 7);
$color-borde-tabladescargas: rgb(37, 37, 37);
$color-texto-tabladescargas: rgb(192, 187, 177);
$background-tabladescargas: rgba(0, 0, 0, 0.342);
$navbar-color: rgba(0, 0, 0, 0.63);
$gridcolor: rgba(0, 0, 0, 0.226);
$footercolor: #111;
$background-descarga: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
$color-bg: #1e1e1e;
$color-particle: #fff;
$verdeagua:  rgb(144, 238, 144);
$blanco: #fff;
$gradiente1: to right, #efe27041, #8d742234, #0000002f;
$gradiente2: to right, #a770ef, #cf8bf3, #fdb99b;
$blancogris:  rgb(245, 245, 245);
$rosafuerte:  #f0f;
$celestefuerte:  #0ff;
$gristarjeta: #333;
$fondotarjeta: rgba(221, 217, 209, 0.288);
$negrosombra:  #00000044;
$sombratarjeta1:  rgba(0,0,0,0.5);
$sombratarjeta2: rgba(0,0,0,.8);