
#myFooter {
    display: block;
    background-color: #3a3f46;
    color: white;
}
#myFooter .content{
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 200px;
}
#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .info{
    text-align: justify; 
    color: #afb0b1;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter .footerlogo{
    margin-top: 10px;
}

#myFooter .second-bar .footerlogo a{
    color:rgb(0, 0, 0);
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}


#myFooter .second-bar {
    text-align: center;
    background-color: #000000;
    overflow: hidden
}

#myFooter .second-bar a {
    font-size: 22px;
    color: #9fa3a9;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}

#myFooter .second-bar a:hover {
    text-decoration: none;
}

#myFooter .social-icons {
    float:right;
}


#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .instagram:hover {
    color: #ed6b00;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }

    #myFooter .info{
        text-align: center;
    }
}

.footerlogo
{
    width: 220px;
    float: left;
}

#myFooter{
    p{
        text-align: center;
    }
    text-align: left;
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
   .info
   {
       h5{
           text-align: center;
       }
   }
   h5:not(info){
        text-align: left;
    }
    
}
