*
{
    margin: 0;
}
@import 'videos';
@import 'footer';
@import 'colors';

@mixin sizes ($width, $height) {
    width: $width;
    height: $height;
}

$spacing: 2560px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 200s;

.main-descarga
{
    display:flex;
    margin:0;
    padding:0;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: arial;
}
.nullsoftlogo
{
    width: 300px;
}

.contenedor-descarga{
    width: 1100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-bottom: 6%;
    .card{
        background-color: $fondotarjeta;
        position: relative;
        .face{
            width:300px;
            height: 200px;
            transition:.4s;
        }
        .face.face2{
            position: relative;
            background: $blancogris;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            box-sizing: border-box;
            box-shadow: 0 20px 50px $sombratarjeta2;
            transform: translateY(-100px);
           .content
            { 
                a:hover{
                    background: $gristarjeta ;
                    color: $blancogris; 
                    box-shadow: inset 0px 0px 10px $sombratarjeta1;
                }
                p{
                    font-size: 10pt;
                    margin: 0 ;
                    padding: 0;
                    color:$gristarjeta;
                }
                a{
                    text-decoration:none;
                    color: $negro;
                    box-sizing: border-box;
                    outline : 1px dashed $gristarjeta;
                    padding: 10px;
                    margin: 15px 0 0;
                    display: inline-block;
                }
                  
            }
        
        }
        .face.face1{
            position: relative;
            background: $gristarjeta;
            display: flex;
            justify-content: center;
            align-content:center;
            align-items: center;
            z-index: 1;
            transform: translateY(100px);
            .content{
                opacity: .2;
                transition:  0.5s;
                text-align: center;
                i{
                    font-size: 3em;
                    color: $blanco;
                    display: inline-block; 
                }
                h3{
                    font-size: 1em;
                    color: $blanco;
                    text-align: center;
                }
                a{
                    transition: .5s;
                 }
              }
        }
    }
    .card:hover .face.face1{
        transform: translateY(0);
        
        box-shadow:
          inset 0 0 60px $blancogris,
          inset 20px 0 80px$rosafuerte,
          inset -20px 0 80px$celestefuerte,
          inset 20px 0 300px$rosafuerte,
          inset -20px 0 300px$celestefuerte,
          0 0 50px$blanco,
          -10px 0 80px$rosafuerte,
          10px 0 80px$celestefuerte;
          .content{
            opacity: 1;
        }
    }
    .card:hover .face.face2{
        transform: translateY(0);
    }
} 

.main-historia
{
    margin: 0;
}

.centrado
{
    
    @media screen and (min-width: 966px) {
        margin: auto;
        max-width: 100%;
    }
      
    @media screen and (max-width: 965px) {
        margin: auto;
        max-width: 300px;
    }
    
} 

.main-plugins
{
    background: url(../imagenes/winamp-connector.png);
    background-attachment: fixed;
    background-size: cover;
}

.aol-logo
{
    width: 300px;
    float: right;
    position: static;
    top: 50%;
}

.firstwinamp
{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.winamp5
{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}


.navbar
{  
    -webkit-box-shadow: 10px 20px 20px $negrosombra;  
    -moz-box-shadow:    20px 20px 20px $negrosombra;  
    box-shadow:         0px 20px 20px $negrosombra;  
    z-index:2000;
}  

.banner {
    img{
        width: 100%;
    }
    text-align: center;
    h1{
        
        font-family: 'Work Sans', cursive;
        color: $negro;
    }
    p{
        text-align: center;
        color: $negro;
        font-family: 'Jost', sans-serif;
    }
    background: url(../imagenes/background-secc3.png);
    background-position: center;
    background-size: cover;
  }

html 
{
    height: 100%;
}

@media screen and (min-width: 501px) {
    .main {
        h3 {
        font-size: 40px;
        }
    }
  }
  
@media screen and (max-width: 500px) {
    .main{
        h3{
            font-size: 30px;
        }
    }
}

@keyframes aparecer
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    } 
}

  


@keyframes fudge {
    from {
    transform: translate(0px, 0px);
    }
    to {
    transform: translate(0px, 2%);
    }
}
  

.titulo-descarga
{
    h1{
        text-align: center; 
        margin: 10px;
    }
    
}

.page-bg, .animation-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.page-wrapper {
    color:$blanco;
    z-index: 2;
}


.segmentos-inicio
{
    width: 100px;
}

.bienvenida
{
    h1
    {
        position: absolute;
        color: transparent;
        z-index: -10000;
    }
    padding-top: 90px;
    margin: 0%;
    width: 100%;
    height: 100%;
}

.descarga
{
    background-color: black;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.textodescarga
{
    padding-left: 10%;
    padding-right: 10%;
    
    h3{
        text-decoration: none;
        color: white;
        font-family: 'Work Sans', cursive;
        font-size: 55px;
        text-align: center;
    }
    p{
        font-size: 25px;
        text-align: center;
    }
    color:rgba(173, 173, 173, 0.781);
}

.textodescarga2
{
    padding-left: 10%;
    padding-right: 10%;
    h4{
        color: white;
        font-family: 'Work Sans', cursive;
        font-size: 40px;
        text-align: left;
    }
    p{
        font-size: 25px;
        text-align: left;
    }
    color:rgba(173, 173, 173, 0.781);
    padding-bottom: 6%;
    
}
.equipowinamp
    {
        font-family: 'Work Sans', cursive;
        color: rgb(251, 180, 0)
    }
    
body.index
{
    background-color: black;
}

body.descarga
{
    width: 100%;
    height: 100%;
}
  
body.historia{
        height: 100%;
}

body:not(.index)
{ 
    .main{
        padding-top: 70px;
    }

}
.navbar
{
    background: $navbar-color;
}

.nav-link{
    color: $azul;
}


.logohistoria
{
    display: block;
  margin-left: auto;
  margin-right: auto;
    height: 130px;
    width: auto;
}

.columna-historia
{
    padding: 2%;
}

.main
{
    animation-duration: 1s; ;
    animation-name: aparecer;
    margin-bottom: 0%;
    margin-right: 0;
    margin-left: 0;
    height: 100%;
    h2
    {
        text-align: center;
        padding: 0%;
        color: negro;
        font-family: 'Work Sans', cursive;
        font-size: 300%;
    }
    h3
    {
        
        text-align: ce;
        padding: 0%;
        color:$rosado;
        font-family: 'Work Sans', cursive;

    }
}

.main-why
{
    h3{
        color: $negro;
    }
}

.imagendescarga
{
    float: right;
}

.botoninicio
{
    width: 140px; 
}

.textoanimado
{
    text-align: center;
    @include sizes(100%,100%);
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}
.logo2
{
    position: absolute;
    z-index: 1;
}

.llama
{
    bottom: 0;
    width: 50%;
    float: right;
    min-width: 300px;
    position: absolute;
    z-index: 0;
}

.logo2
{
    max-width: 200px;
    max-height: 200px;
    width: 50%;
    height: auto;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

.textoanimado__h3
{
    text-align: center;
    color: $azulclaro;
    div {
        overflow: hidden;
        position: relative;
        float: right;
        height: 65px;
        padding-top: 10px;
        margin-top: -10px;
    }
    ul{
        padding: 0%;
    }  
    li {
        text-align: left;
        color: $azulclaro;
        font-weight: 700;
        padding: 0 10px;
        height: 45px;
        margin-bottom: 45.3px;
        display: block;
    }
}

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

.divisor-linea
{
    float: inline-end;
    height: 2px;
    background-color: $violeta;
}

.boton-descarga 
{
    a
    {
        text-decoration: none;
    }
}

h4
{
    text-align: left;
    padding: 0%;
    color: $azul;
    font-family: 'Work Sans', cursive;
    font-size: 35px;
}

h5
{
    text-align: center;
    padding: 0%;
    color: $azulado;
    font-family: 'Work Sans', cursive;
    font-size: 20px;
}

.logo__img
{
    width: 70%;
    max-width: 500px;
}

.logo
{
    text-align: center;
    margin-bottom: 0%;
    width: auto;
}

.articulo
{
    padding-top: 2%;
    color: $gris;
    text-align: center;
    img
    {
        margin-right: 2%;
    }
}

.textovid1
{
    position: relative;
}

.conclusion strong
{
    font-size: 40px;
    text-align: ce;
    padding: 0%;
    font-family: 'Work Sans', cursive;
    color:$negro;
}

.seccion--visualizaciones
{
    width: 100%;
    margin: 0%;
    background-image: url("../imagenes/background-secc3.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 2%;
    div
    {
        text-align: center;
    
    }
    h3{
        text-align: center;
        color: $negro;
    }  
    div
    { 
        p
        {
            color: $negro;
            position: relative;
            z-index: 1;
        }
    }
}

.carousel
{
    
    .carousel-inner{
        img
        {
            width: 100%;
        }
    }
}



.seccion--galeria
{
    p
    {
        color: $negro;
    }
    h3
    {
        color: $negro;
    }
    margin: 0;
    width: 100%;
    background-image: url("../imagenes/background-secc2.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    text-align:center
}

section
{
    @include sizes(90%, 90%);
    margin-left: 5% ;
    overflow: hidden;
    p
    {
        font-family: 'Jost', sans-serif;
        font-size: 150%;
    }
    img
    {
        width: 20%;
        height: auto;
        animation-duration: 2s;
    }
}

.contenido
{
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 3%
}

.textoseccion
{
    margin-top: 3%;
    text-align: left;
}

.contenedor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    padding: 2%;
    background-color: $gridcolor;
}

.bienvenida__texto
{
    text-align: center;
}

.textogaleria
{
    
    margin: 0%;
    padding-top: 3%;
    margin-right: 2%;
        
    @media screen and (min-width: 1150px) {
        p{
            font-size: 23px;   
        }
        h3{
            font-size: 170%;   
        }
        height: 300px;
    }
      
    @media screen and (max-width: 1149px) {
        p{
            font-size: 18px; 
        }
        h3{
            font-size: 140%;   
        }
        height: 300px;
    }
    @media screen and (max-width: 927px) {
        p{
            font-size: 13px;
        }
        h3{
            font-size: 120%;   
        }
        height: 300px;
    }
    @media screen and (max-width: 575px) {
        p{
            font-size: 23px;
        }
        height: 100%;
    }

    p
    {
        text-align: justify;
    }
}

.logo2__img
{
    margin: auto;
    @include sizes(100%,auto )
}

.videodemo
{
    margin-right: 2%;
    float: left;
}

.img-muestra
{
    width: 27%;
}

.tabla-descargas
{   
    margin-top: 2%;
    margin-bottom: 2%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    border: 3px $color-borde-tabladescargas;
    font-family: 'Jost', sans-serif;
    font-size: 130%;
    background-color: $background-tabladescargas;
    color: $color-texto-tabladescargas;
}

.botonseleccion
{
    margin-left: auto;
    margin-right: auto;
}

.muestra
{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container.gallery-container {
    background-color: $background-container-galeria;
    color: $grisazulado;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container  {
    h1{
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    }
    p.page-description {
        text-align: center;
        margin: 25px auto;
        font-size: 18px;
        color: $gris-galeria;
    }
}


.tz-gallery {
    padding: 40px;
    .row > div {
        padding: 2px;
    }
    .lightbox 
    {    
        img {
            width: 100%;
            border-radius: 0;
            position: relative;
        }
    }
    .lightbox:before {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -13px;
        margin-left: -13px;
        opacity: 0;
        color: $blanco;
        font-size: 26px;
        font-family: 'Glyphicons Halflings';
        content: '\e003';
        pointer-events: none;
        z-index: 9000;
        transition: 0.4s;
    }
    .lightbox:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: rgba(46, 132, 206, 0.7);
        content: '';
        transition: 0.4s;
    }
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.contenidohistoria1 {
    position: relative;
    background: rgba(black, 0.66);
    color: white;
    padding: 1rem;
    padding-bottom: 3%;
    h3{
        font-size: 1em;
        color: $blanco;
        text-align: center;
    }
    h2{
        text-align: center;
        padding: 0%;
        color: negro;
        font-family: 'Work Sans', cursive;
        font-size: 200%;
    }
    p {
        text-align: justify;
        max-width: 900px;
        margin: 1rem auto;
    }
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 150%;
    line-height: 1.4;
  }

  .contenidohistoria2 {
    overflow: hidden;
    position: relative;
    background: rgba(black, 0.50);
    color: rgb(201, 231, 172);
    padding: 1rem;
    h3{
        font-size: 1em;
        color: $blanco;
        text-align: left;
    }
    h2{
        text-align: left;
        padding: 0%;
        color: negro;
        font-family: 'Work Sans', cursive;
        font-size: 200%;
    }
    p {
        text-align: left;
        max-width: 900px;
        margin-top: 1rem auto;
        margin-right: 1rem auto;
        margin-bottom: 1rem auto;
    }
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 150%;
    line-height: 1.4;
  }

  .contenidohistoria3 {
    overflow: hidden;
    position: relative;
    background: rgba(black, 0.66);
    color: rgb(226, 223, 226);
    padding: 1rem;
    h3{
        font-size: 1em;
        color: rgb(233, 222, 222);
        text-align: center;
    }
    h2{
        text-align: center;
        padding: 0%;
        color: negro;
        font-family: 'Work Sans', cursive;
        font-size: 200%;
    }
    p {
        text-align: justify;
        max-width: 900px;
        margin: 1rem auto;
    }
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 150%;
    line-height: 1.4;
  }

  .viewport-header {
    position: relative;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

.historiabckrnd1 {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
  }


  .historiabckrnd2 {
    object-fit: cover;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
  }


  
  .contenedorvideo1 {
    position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
  }

  .descargabienvenida{
    height: 100%;
    overflow: hidden;
  }

  .main--descarga
  {
      padding-top: 2%;
      h2{
          color: white;
          text-align: center;
      }
      width: 100%;
      height: 100%;
  }

  .titulodescarga1
  {
    text-align: center;
  }

  @import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');


.container-descargabienvenida {
  width: 100%;
  height: 100vh;
  background: #000000;

  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    width: 600px;
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .title {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 60%;

      .block {
        width: 0%;
        height: inherit;
        background: #ffb510;
        position: absolute;
        animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
        display: flex;
      }

      h1 {
        font-family: 'Poppins';
        color: #fff;
        font-size: 32px;
        -webkit-animation: mainFadeIn 2s forwards;
        -o-animation: mainFadeIn 2s forwards;
        animation: mainFadeIn 2s forwards;
        animation-delay: 1.6s;
        opacity: 0;
        display: flex;
        align-items: baseline;
        position: relative;

        span {
          width:0px;
          height: 0px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;

          background: #ffb510;
          -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
          animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
          animation-delay: 2s;
          margin-left: 5px;
          margin-top: -10px;
          position: absolute;
          bottom: 13px;
          right: -12px;

        }
      }
    }

    .role {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 90px;
      margin-top: -10px;
      
      .block {
        width: 0%;
        height: inherit;
        background: #e91e63;
        position: absolute;
        animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
        animation-delay: 2s;
        display: flex;
      }

      p {
        margin-left: auto;
        margin-right: auto;
        animation: secFadeIn 2s forwards;
        animation-delay: 3.2s;
        opacity: 0;
         font-weight: 400;
        font-family: 'Lato';
        color: #ffffff;
        font-size: 115px;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-family: 'Work Sans', cursive;
      }
    }
  }
}


.logo-58
{
    height: 80px;
    margin-bottom: 6%;
}


@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
   65% {
      width: 7px;
    height: 7px;
      bottom: 0px;
      width: 15px
   }
   80% {
      width: 10px;
    height: 10px;
      bottom: 20px
   }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;

  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.logo-descarga{
    width: 90%;
    margin-left: 2.5%;
}